<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.huanghehua.www.authentication.infrastructure.mapper.UserMapper">
    <insert id="insertUser">
        insert into user
        (email, password, status)
        values
        (#{email}, #{password}, 1);
    </insert>


    <select id="selectSingleUserByEmail" resultType="com.huanghehua.www.authentication.infrastructure.data.UserPO">
        select * from user
        where email = #{email} and password = #{password};
    </select>
</mapper>