<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.huanghehua.www.cinema.infrastructure.mapper.HistoryOrderMapper">

    <select id="listOrderIdByUserId" resultType="java.lang.Long">
        select orderId from `history_order`
        where userId = #{userId}
    </select>

    <select id="getUpdateTimeByOrderId" resultType="java.time.LocalDateTime">
        select updateTime from `history_order`
        where orderId = #{orderId}
    </select>

</mapper>