<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.huanghehua.www.cinema.infrastructure.mapper.OrderMapper">

    <insert id="insertOrder">
        insert into `order`
        (userId, scheduleId, seatId, price, status)
        values
        (#{userId}, #{scheduleId}, #{seatId}, #{price}, 1)
    </insert>

    <select id="getOrderById" resultType="com.huanghehua.www.cinema.infrastructure.data.OrderPO">
        select * from `order`
        where id = #{id}
    </select>

    <update id="updateOrderStatusById">
        update `order`
        set status = #{status}
        where id = #{id}
    </update>


    <select id="listOrderIdByUserId" resultType="java.lang.Long">
        select id from `order`
        where userId = #{userId}
    </select>

    <select id="getUpdateTimeById" resultType="java.time.LocalDateTime">
        select updateTime from `order`
        where id = #{id}
    </select>

    <select id="getCreateTimeById" resultType="java.time.LocalDateTime">
        select createTime from `order`
        where id = #{id}
    </select>

    <select id="getStatusById" resultType="java.lang.Boolean">
        select status from `order`
        where id = #{id}
    </select>
</mapper>