<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.huanghehua.www.cinema.infrastructure.mapper.ScheduleMapper">


    <select id="listByFilmId" resultType="com.huanghehua.www.cinema.infrastructure.data.SchedulePO">
        select * from schedule
        where filmId = #{filmId}
    </select>

    <select id="getPriceById" resultType="java.math.BigDecimal">
        select price from schedule
        where id = #{id}
    </select>

    <select id="getHallIdById" resultType="java.lang.Long">
        select hallId from schedule
        where id = #{id}
    </select>

    <select id="getScheduleById" resultType="com.huanghehua.www.cinema.infrastructure.data.SchedulePO">
        select * from schedule
        where id = #{id}
    </select>

    <insert id="insertSchedule">
        insert into schedule
        (filmId, hallId, price, startTime, endTime)
        values
        (#{filmId}, #{hallId}, #{price}, #{startTime}, #{endTime})
    </insert>

    <delete id="deleteScheduleById">
        delete from schedule
        where id = #{id}
    </delete>

</mapper>