<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.huanghehua.www.cinema.infrastructure.mapper.SeatMapper">


    <select id="listActiveSeatByHallId" resultType="com.huanghehua.www.cinema.infrastructure.data.SeatPO">
        select * from seat
        where hallId = #{hallId} and status = 0;
    </select>

    <select id="getStatusById" resultType="java.lang.Boolean">
        select status from seat
        where id = #{id};
    </select>

    <update id="updateSeatStatusById">
        update seat
        set status = #{status}
        where id = #{id};
    </update>

    <select id="getSeatById" resultType="com.huanghehua.www.cinema.infrastructure.data.SeatPO">
        select * from seat
        where id = #{id};
    </select>

    <insert id="insertSeat">
        insert into seat
        (hallId, row, column, status)
        values
        (#{hallId}, #{row}, #{column}, 0)
    </insert>
</mapper>