<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.huanghehua.www.exhibition.infrastructure.mapper.FilmMapper">

    <select id="selectListByName" resultType="com.huanghehua.www.exhibition.infrastructure.data.FilmPO">
        select * from film
        where name = #{name};
    </select>

</mapper>