<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <script src="vue.js"></script>
    <script src="axios.js"></script>
</head>
<body>
<span id="app">
    <historyorderdetail></historyorderdetail>
    <hr/><br/>

    <cancelorder></cancelorder>
    <hr/><br/>

    <setting></setting>
    <hr/><br/>

</span>

<script>

    const historyorderdetail = Vue.extend({
        template: `
          <fieldset>
          <legend>历史订单记录</legend>
          <ul>
            <li v-for="res in commonResults">
              {{ '影片名称 : ' + res.filmId }}<br>
              {{ '导演 : ' + res.director }}<br>
              {{ '主演 : ' + res.actor }}<br>
              {{ '发布日期、时间 : ' + res.releaseTime }}<br>
              {{ '影片持续时间 : ' + res.duration }}<br>

              {{ '影厅id : ' + res.hallId }}<br>
              {{ '价格 : ' + res.price }}<br>
              {{ '影片场次开始时间 : ' + res.startTime }}<br>
              {{ '影片场次结束时间 : ' + res.endTime }}<br>

              {{ '行号 : ' + res.row }}<br>
              {{ '列号 : ' + res.column }}<br>
              {{ '历史时间 : ' + res.historyTime }}<br>

            </li>
          </ul>
          请输入跳转的页数: <input type="number" v-model.number="page.currentPageNumber">
          <button @click.self="flush">跳转查看</button><br/>
          </fieldset>
        `,
        data() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return {
                // 用户id
                userId: urlSearchParams.get("id"),
                commonResults: [
                    {
                        // 影片id
                        filmId: "-",
                        // 影片名称
                        filmName: "-",
                        // 导演
                        director: "-",
                        // 主演
                        actor: "-",
                        // 发布日期、时间
                        releaseTime: "-",
                        // 影片持续时间
                        duration: "-",
                        // 海报存储于数据库服务器的绝对路径
                        poster: "-",


                        // 影厅id
                        hallId: "-",
                        // 价格
                        price: "-",
                        // 影片场次开始时间
                        startTime: "-",
                        // 影片场次结束时间
                        endTime: "-",


                        // 行号
                        row: "-",
                        // 列号
                        column: "-",

                        // 历史时间
                        historyTime: '-',
                    },
                ],
                page: {
                    // 页面承载的最大记录条数
                    maxPageSize: 5,
                    // 当前页码
                    currentPageNumber: 1,
                }
            }
        },
        methods: {
            flush() {
                axios.get('http://localhost:8080/api/reservation/order-history', {
                    params: {
                        userId: this.userId,
                        maxPageSize: this.page.maxPageSize,
                        currentPageNumber: this.page.currentPageNumber
                    }
                })
                    .then(response => {
                        this.commonResults = response.data.data;
                        alert(response.data.tipMessage)
                    })
                    .catch(error => {
                        alert(error.response.data.tipMessage)
                    });
            }

        }
    })

    const cancelorder = Vue.extend({
        template: `
          <fieldset>
          <legend>取消订单</legend>
          <input type="number" placeholder="请输入订单id" v-model.number="orderId">
              <button @click.self="cancel()">确认取消</button><br>
          </fieldset>
        `,
        data() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return {
                // 用户id
                userId: urlSearchParams.get("id"),
                // 订单id
                orderId: "-",
            }
        },
        methods: {
            cancel() {
                axios.post('http://localhost:8080/api/reservation/cancel', {
                    userId: this.userId,
                    orderId: this.orderId,
                })
                    .then(response => {
                        this.count = response.data.data;

                        alert(response.data.tipMessage)
                    })
                    .catch(error => {
                        alert(error.response.data.tipMessage)
                    });
            },
        }
    })


    const setting = Vue.extend({
        template: `
          <fieldset>
          <legend>设置</legend>

          <label>
          修改密码：<br/>
          <input type="password" placeholder="请输入旧密码" v-model.trim="oldPassword"><br/>
          <input type="password" placeholder="请输入新密码" v-model.trim="newPassword1"><br/>
          <input type="password" placeholder="请再次输入新密码" v-model.trim="newPassword2"><br/>
          <button @click.self="update()">确认修改</button>
          </label>

          </fieldset>
        `,
        data() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return {
                userId: urlSearchParams.get("id"),
                oldPassword: "",
                newPassword1: "",
                newPassword2: "",
                commonResult: {
                    // 用户的邮箱
                    email: '-',
                    // 用户的密码
                    password: '--',
                    // 用户的状态，true为启用，false为禁用
                    status: '--',
                }
            }
        },
        methods: {


            update() {
                if (this.newPassword1 !== this.newPassword2) {
                    alert("两次输入的新密码不一致, 请检查是否输入正确...")
                } else {
                    axios.post('http://localhost:8080/api/user/setting-password', {
                        userId: this.userId,
                        oldPassword: this.oldPassword,
                        newPassword: this.newPassword,
                    })
                        .then(response => {
                            this.commonResult = response.data.data;
                            alert(response.data.tipMessage)
                        })
                        .catch(error => {
                            alert("punchclock响应的提示信息" + error.response.data.tipMessage)
                        });
                }

            },
        },
    })

    const notice = Vue.extend({
        template: `
          <fieldset>
          <legend>通知信息</legend>
          <ul>
            <li v-for="notice in notices" :key="notice.id">
              {{ '通知信息 : ' + notice.noticeInformation }}<br>
              {{ '通知时间 : ' + notice.createTime }}<br>
              {{ '通知更新时间 : ' + notice.updateTime }}<br>
            </li>
          </ul>
          请输入跳转的页数: <input type="number" v-model.number="page.currentPageNumber">
          <button @click.self="flush">查看通知</button><br/>
          </fieldset>
        `,
        data() {
            return {
                employeeId: '',
                notices: [
                    {
                        // 主键id
                        id: '--',
                        // 被通知的员工名字
                        name: '--',
                        // 被通知的员工工号，普通索引
                        jobNumber: '--',
                        // 通知信息
                        noticeInformation: '--',
                        // 被通知员工的id，外键索引
                        employeeId: '--',
                        // 通知记录的创建时间, 普通索引
                        createTime: '--',
                        // 通知记录的更新时间
                        updateTime: '--',
                    },
                ],
                page: {
                    // 页面承载的最大记录条数
                    maxPageSize: 5,
                    // 当前页码
                    currentPageNumber: 1,
                }
            }
        },
        mounted() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            this.employeeId = urlSearchParams.get('id');
            alert("notice mounted request() be invoked")
        },
        methods: {
            flush() {
                axios.get('/www.huanghehua.com/api/notice/info', {
                    params: {
                        employeeId: this.employeeId,
                        maxPageSize: this.page.maxPageSize,
                        currentPageNumber: this.page.currentPageNumber
                    }
                })
                    .then(response => {
                        this.notices = response.data.data;
                        alert(response.data.tipMessage)
                    })
                    .catch(error => {
                        alert("notice响应的提示信息" + error.response.data.tipMessage)
                    });
            }

        }
    })
    const task = Vue.extend({
        template: `
          <fieldset>
          <legend>任务清单</legend>
          <ul>
            <li v-for="task in tasks" :key="task.id">
              {{ '任务名字 : ' + task.name }}<br>
              {{ '任务描述 : ' + task.description }}<br>
              {{ '任务负责人id : ' + task.employeeId }}<br>
              {{ '是否完成 : ' + task.status }}<br>
              {{ '是否启动 : ' + task.isActive }}<br>
              {{ '任务结果评估 : ' + task.evaluation }}<br>
              {{ '任务隶属公司id : ' + task.companyId }}<br>
              {{ '任务创建的时间 : ' + task.createTime }}<br>
              {{ '任务信息的更新时间 : ' + task.updateTime }}<br>
            </li>
          </ul>
          <button @click.self="show()">查看任务</button><br>
          <p/>

          <form @submit.prevent="add()">
            <fieldset>
              <legend>新增任务</legend>
              <label>任务名字：<input type="text" v-model.trim="newTask.name"/></label><br>
              <label>任务描述：<textarea v-model.lazy="newTask.description"></textarea></label><br>
              <label>任务负责人id：<input type="number" v-model.number="newTask.employeeId"/></label><br>
              <label>公司id：<input type="number" v-model.nnumber="newTask.companyId"/></label><br>
              <button>提交</button>
              <br>
            </fieldset>
          </form>

          <form @submit.prevent="edit()">
            <fieldset>
              <legend>编辑任务</legend>
              <label>任务id: <input placeholder="请输入需要修改的任务id" type="number"
                                    v-model.number="updateTask.id"></label><br><br>
              <label>任务名字：<input type="text" v-model.trim="updateTask.name"/></label><br>
              <label>任务描述：<textarea v-model.lazy="updateTask.description"></textarea></label><br>
              <label>任务负责人id：<input type="number" v-model.number="updateTask.employeeId"/></label><br>
              <label>公司id：<input type="number" v-model.nnumber="updateTask.companyId"/></label><br>
              <label>是否完成：
                已完成<input type="radio" v-model="updateTask.status" value="1"/>
                未完成<input type="radio" v-model="updateTask.status" value="0" checked/>
              </label><br>
              <label>是否启动：
                启动<input type="radio" v-model="updateTask.isActive" value="1" checked/>
                终止<input type="radio" v-model="updateTask.isActive" value="0"/>
              </label><br>
              <label>任务结果评估：<textarea v-model.lazy="updateTask.evaluation"></textarea></label><br>
              <button>提交修改</button>
              <br>
            </fieldset>
          </form>

          </fieldset>
        `,
        data() {
            return {
                employeeId: '',
                tasks: [
                    {
                        // 主键id
                        id: '--',
                        // 任务名字
                        name: '--',
                        // 任务描述
                        description: '--',
                        // 任务负责人id，外键索引
                        employeeId: '--',
                        // 任务的状态，true完成，false未完成
                        status: '--',
                        // 任务的状态，true任务正常，false任务终止
                        isActive: '--',
                        // 任务结果评估
                        evaluation: '--',
                        // 任务隶属公司id，外键索引
                        companyId: '--',
                        // 任务创建的时间
                        createTime: '--',
                        // 任务信息的更新时间
                        updateTime: '--',
                    },
                ],
                newTask: {
                    // 任务名字
                    name: '',
                    // 任务描述
                    description: '',
                    // 任务负责人id，外键索引
                    employeeId: '',
                    // 任务隶属公司id，外键索引
                    companyId: '',
                },
                updateTask: {
                    id: '',
                    // 任务名字
                    name: '',
                    // 任务描述
                    description: '',
                    // 任务负责人id，外键索引
                    employeeId: '',
                    // 任务隶属公司id，外键索引
                    companyId: '',
                    // 任务的状态，true完成，false未完成
                    status: '',
                    // 任务的状态，true任务正常，false任务终止
                    isActive: '',
                    // 任务结果评估
                    evaluation: '',
                },
            }
        },
        mounted() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            this.employeeId = urlSearchParams.get('id');
            alert("task mounted request() be invoked")
        },
        methods: {
            show() {
                axios.get('/www.huanghehua.com/api/task/info', {
                    params: {
                        employeeId: this.employeeId,
                    }
                })
                    .then(response => {
                        this.tasks = response.data.data;
                        alert(response.data.tipMessage)
                    })
                    .catch(error => {
                        alert(error.response.data.tipMessage)
                    });
            },
            add() {
                axios.post('/www.huanghehua.com/api/task/add', {
                    name: this.newTask.name,
                    description: this.newTask.description,
                    employeeId: this.newTask.employeeId,
                    companyId: this.newTask.companyId,
                })
                    .then(response => {
                        alert(response.data.tipMessage)
                    })
                    .catch(error => {
                        alert("task响应的提示信息" + error.response.data.tipMessage)
                    });

            },
            edit() {
                axios.post('/www.huanghehua.com/api/task/update', {
                    id: this.updateTask.id,
                    name: this.updateTask.name,
                    description: this.updateTask.description,
                    employeeId: this.updateTask.employeeId,
                    companyId: this.updateTask.companyId,
                    status: this.updateTask.status,
                    isActive: this.updateTask.isActive,
                    evaluation: this.updateTask.evaluation,
                })
                    .then(response => {
                        alert(response.data.tipMessage)
                    })
                    .catch(error => {
                        alert('task edit request be invoked fail')
                        alert("task响应的提示信息" + error.response.data.tipMessage)
                    });
            }
        }
    })

    const vm = new Vue({
        el: '#app',
        components: {
            historyorderdetail, cancelorder, setting,
            notice, task,

        },
    })
</script>
</body>
</html>